:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1 ! important;
}

.map-container {
  flex: 1;
  min-height: 0;
}

.leaflet-map {
  width: 100%;
  height: 100%;
  z-index: 1;
}
