@use '../../../../../../styles/variables/colors' as *;
@use '../../../../../../styles/variables/typography' as *;

.driver-pending-state {
  max-width: 520px;
  margin: 3rem auto;
  padding: 3rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-wrapper {
  width: 64px;
  height: 64px;
  margin: 0 auto;

  border-radius: 50%;
  background-color: $bg-surface;
  color: $color-primary;

  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 32px;
    height: 34px;
    width: 30px;
  }
}

h2 {
  font-weight: $font-weight-semibold;
}

.subtitle {
  font-size: $text-size-label;
  color: $text-muted;
}

.description {
  color: $text-secondary;
  line-height: $line-height-loose;
}

.status-box {
  margin-top: 1.5rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 0.75rem;
  background-color: $bg-app;

  font-size: $text-size-label;
  color: $text-secondary;

  mat-icon {
    font-size: 18px;
    color: $color-primary;
    height: 18px;
  }
}
