@use '../../../../../styles/variables/colors' as *;
@use '../../../../../styles/variables/typography' as *;


.location-required {
  max-width: 420px;
  margin: 4rem auto;
  text-align: center;
  padding: 2rem;

  mat-icon {
    font-size: 48px;
    color: $color-primary;
    margin-bottom: 1rem;
    height: 50px;
    width: 50px;
  }

  h2 {
    font-size: $text-size-subheading;
    font-weight: $font-weight-semibold;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $text-size-label;
    color: $text-muted;
    margin-bottom: 1.25rem;
  }

  .divider {
    margin: 1.5rem 0;
    font-size: $text-size-caption;
    color: $text-muted;
  }

  .error-text {
    margin-top: 1rem;
    font-size: $text-size-caption;
    color: $color-danger;
  }
}
