.register-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  border: 1px solid var(--color-gray-100);
  border-radius: 6px;
}

.success {
  text-align: center;
}
